26_08_2025-AULA05/prjFilaEnc/prjFilaEnc.layout
26_08_2025-AULA05/prjFilaEnc/prjFilaEnc.cbp.save
26_08_2025-AULA05/prjFilaEnc/prjFilaEnc.cbp
26_08_2025-AULA05/prjFilaEnc/main.c.save
26_08_2025-AULA05/prjFilaEnc/main.c
26_08_2025-AULA05/prjFilaEnc/itemFilaEnc.h.save
26_08_2025-AULA05/prjFilaEnc/itemFilaEnc.h
26_08_2025-AULA05/prjFilaEnc/itemFilaEnc.c.save
26_08_2025-AULA05/prjFilaEnc/itemFilaEnc.c
25_08_2025-AULA04/QuestionarioTreinamento-Questao02/prjExercicio2/prjQuestao02.h.save
25_08_2025-AULA04/QuestionarioTreinamento-Questao02/prjExercicio2/prjQuestao02.h
25_08_2025-AULA04/QuestionarioTreinamento-Questao02/prjExercicio2/prjQuestao02.c.save
25_08_2025-AULA04/QuestionarioTreinamento-Questao02/prjExercicio2/prjQuestao02.c
25_08_2025-AULA04/QuestionarioTreinamento-Questao02/prjExercicio2/prjExercicio2.layout
25_08_2025-AULA04/QuestionarioTreinamento-Questao02/prjExercicio2/prjExercicio2.depend
25_08_2025-AULA04/QuestionarioTreinamento-Questao02/prjExercicio2/prjExercicio2.cbp.save
25_08_2025-AULA04/QuestionarioTreinamento-Questao02/prjExercicio2/prjExercicio2.cbp
25_08_2025-AULA04/QuestionarioTreinamento-Questao02/prjExercicio2/obj/Debug/prjQuestao02.o
25_08_2025-AULA04/QuestionarioTreinamento-Questao02/prjExercicio2/obj/Debug/main.o
25_08_2025-AULA04/QuestionarioTreinamento-Questao02/prjExercicio2/main.c.save
25_08_2025-AULA04/QuestionarioTreinamento-Questao02/prjExercicio2/main.c
25_08_2025-AULA04/QuestionarioTreinamento-Questao02/prjExercicio2/bin/Debug/prjExercicio2.exe
25_08_2025-AULA04/QuestionarioTreinamento-Questao02/Exercicio3/Ex03.c
25_08_2025-AULA04/QuestionarioTreinamento-Questao02.rar
25_08_2025-AULA04/QuestionarioTreinamento-Questao01.txt
19_08_2025-AULA03/prjPilhaEnc/prjPilhaEnc.layout
19_08_2025-AULA03/prjPilhaEnc/prjPilhaEnc.depend
19_08_2025-AULA03/prjPilhaEnc/prjPilhaEnc.cbp.save
19_08_2025-AULA03/prjPilhaEnc/prjPilhaEnc.cbp
19_08_2025-AULA03/prjPilhaEnc/obj/Debug/main.o
19_08_2025-AULA03/prjPilhaEnc/main.c.save
19_08_2025-AULA03/prjPilhaEnc/main.c
19_08_2025-AULA03/prjPilhaEnc/itemPilhaEnc.h.save
19_08_2025-AULA03/prjPilhaEnc/itemPilhaEnc.h
19_08_2025-AULA03/prjPilhaEnc/itemPilhaEnc.c.save
19_08_2025-AULA03/prjPilhaEnc/itemPilhaEnc.c
19_08_2025-AULA03/Código Corrigido/prjPilhaEnc.layout
19_08_2025-AULA03/Código Corrigido/prjPilhaEnc.depend
19_08_2025-AULA03/Código Corrigido/prjPilhaEnc.cbp
19_08_2025-AULA03/Código Corrigido/obj/Debug/main.o
19_08_2025-AULA03/Código Corrigido/obj/Debug/itemPilhaEnc.o
19_08_2025-AULA03/Código Corrigido/main.c
19_08_2025-AULA03/Código Corrigido/itemPilhaEnc.h
19_08_2025-AULA03/Código Corrigido/itemPilhaEnc.c
19_08_2025-AULA03/Código Corrigido/bin/Debug/prjPilhaEnc.exe
12_08_2025-AULA01/PrjRevisao/PrjRevisao.layout
12_08_2025-AULA01/PrjRevisao/PrjRevisao.cbp
12_08_2025-AULA01/PrjRevisao/main.c.save
12_08_2025-AULA01/PrjRevisao/main.c
12_08_2025-AULA01/PrjListaExemplo/PrjListaExemplo.layout
12_08_2025-AULA01/PrjListaExemplo/PrjListaExemplo.cbp.save
12_08_2025-AULA01/PrjListaExemplo/PrjListaExemplo.cbp
12_08_2025-AULA01/PrjListaExemplo/main.c.save
12_08_2025-AULA01/PrjListaExemplo/main.c
12_08_2025-AULA01/PrjListaExemplo/ItemListaEnc.c.save
12_08_2025-AULA01/PrjListaExemplo/ItemListaEnc.c
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/usa_cursos.o
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/usa_cursos.c.save
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/usa_cursos.c
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/obj/Debug/usa_cursos.o
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/obj/Debug/Data.o
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/obj/Debug/cursos.o
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/Exercicio02.layout.save
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/Exercicio02.layout
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/Exercicio02.depend
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/Exercicio02.cbp.save
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/Exercicio02.cbp
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/Data.h.save
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/Data.h
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/Data.c
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/cursos.h
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/cursos.c.save
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/cursos.c
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/bin/Debug/Exercicio02.exe
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/usaJogos.c.save
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/usaJogos.c
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/usa_jogos.c.save
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/obj/Debug/usaJogos.o
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/obj/Debug/usa_jogos.o
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/obj/Debug/jogos.o
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/jogos.h
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/jogos.c.save
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/jogos.c
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/Exercicio01.layout.save
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/Exercicio01.layout
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/Exercicio01.depend
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/Exercicio01.cbp.save
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/Exercicio01.cbp
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/bin/Debug/Exercicio01.exe
02_Exercícios sobre Pilhas Encadeadas (Parcialmente Resolvidos).pdf
01_Exercícios sobre Listas Encadeadas (Parcialmente Resolvidos).pdf
Agosto/12_08_2025-AULA01/PrjListaExemplo/ItemListaEnc.c
Agosto/12_08_2025-AULA01/PrjListaExemplo/ItemListaEnc.c.save
Agosto/12_08_2025-AULA01/PrjListaExemplo/main.c
Agosto/12_08_2025-AULA01/PrjListaExemplo/main.c.save
Agosto/12_08_2025-AULA01/PrjListaExemplo/PrjListaExemplo.cbp
Agosto/12_08_2025-AULA01/PrjListaExemplo/PrjListaExemplo.cbp.save
Agosto/12_08_2025-AULA01/PrjListaExemplo/PrjListaExemplo.layout
Agosto/12_08_2025-AULA01/PrjRevisao/main.c
Agosto/12_08_2025-AULA01/PrjRevisao/main.c.save
Agosto/12_08_2025-AULA01/PrjRevisao/PrjRevisao.cbp
Agosto/12_08_2025-AULA01/PrjRevisao/PrjRevisao.layout
Agosto/19_08_2025-AULA03/Código Corrigido/bin/Debug/prjPilhaEnc.exe
Agosto/19_08_2025-AULA03/Código Corrigido/itemPilhaEnc.c
Agosto/19_08_2025-AULA03/Código Corrigido/itemPilhaEnc.h
Agosto/19_08_2025-AULA03/Código Corrigido/main.c
Agosto/19_08_2025-AULA03/Código Corrigido/obj/Debug/itemPilhaEnc.o
Agosto/19_08_2025-AULA03/Código Corrigido/obj/Debug/main.o
Agosto/19_08_2025-AULA03/Código Corrigido/prjPilhaEnc.cbp
Agosto/19_08_2025-AULA03/Código Corrigido/prjPilhaEnc.depend
Agosto/19_08_2025-AULA03/Código Corrigido/prjPilhaEnc.layout
Agosto/19_08_2025-AULA03/prjPilhaEnc/itemPilhaEnc.c
Agosto/19_08_2025-AULA03/prjPilhaEnc/itemPilhaEnc.c.save
Agosto/19_08_2025-AULA03/prjPilhaEnc/itemPilhaEnc.h
Agosto/19_08_2025-AULA03/prjPilhaEnc/itemPilhaEnc.h.save
Agosto/19_08_2025-AULA03/prjPilhaEnc/main.c
Agosto/19_08_2025-AULA03/prjPilhaEnc/main.c.save
Agosto/19_08_2025-AULA03/prjPilhaEnc/obj/Debug/main.o
Agosto/19_08_2025-AULA03/prjPilhaEnc/prjPilhaEnc.cbp
Agosto/19_08_2025-AULA03/prjPilhaEnc/prjPilhaEnc.cbp.save
Agosto/19_08_2025-AULA03/prjPilhaEnc/prjPilhaEnc.depend
Agosto/19_08_2025-AULA03/prjPilhaEnc/prjPilhaEnc.layout
Agosto/25_08_2025-AULA04/QuestionarioTreinamento-Questao01.txt
Agosto/25_08_2025-AULA04/QuestionarioTreinamento-Questao02.rar
Agosto/25_08_2025-AULA04/QuestionarioTreinamento-Questao02/Exercicio3/Ex03.c
Agosto/25_08_2025-AULA04/QuestionarioTreinamento-Questao02/prjExercicio2/bin/Debug/prjExercicio2.exe
Agosto/25_08_2025-AULA04/QuestionarioTreinamento-Questao02/prjExercicio2/main.c
Agosto/25_08_2025-AULA04/QuestionarioTreinamento-Questao02/prjExercicio2/main.c.save
Agosto/25_08_2025-AULA04/QuestionarioTreinamento-Questao02/prjExercicio2/obj/Debug/main.o
Agosto/25_08_2025-AULA04/QuestionarioTreinamento-Questao02/prjExercicio2/obj/Debug/prjQuestao02.o
Agosto/25_08_2025-AULA04/QuestionarioTreinamento-Questao02/prjExercicio2/prjExercicio2.cbp
Agosto/25_08_2025-AULA04/QuestionarioTreinamento-Questao02/prjExercicio2/prjExercicio2.cbp.save
Agosto/25_08_2025-AULA04/QuestionarioTreinamento-Questao02/prjExercicio2/prjExercicio2.depend
Agosto/25_08_2025-AULA04/QuestionarioTreinamento-Questao02/prjExercicio2/prjExercicio2.layout
Agosto/25_08_2025-AULA04/QuestionarioTreinamento-Questao02/prjExercicio2/prjQuestao02.c
Agosto/25_08_2025-AULA04/QuestionarioTreinamento-Questao02/prjExercicio2/prjQuestao02.c.save
Agosto/25_08_2025-AULA04/QuestionarioTreinamento-Questao02/prjExercicio2/prjQuestao02.h
Agosto/25_08_2025-AULA04/QuestionarioTreinamento-Questao02/prjExercicio2/prjQuestao02.h.save
Agosto/26_08_2025-AULA05/prjFilaEnc/itemFilaEnc.c
Agosto/26_08_2025-AULA05/prjFilaEnc/itemFilaEnc.c.save
Agosto/26_08_2025-AULA05/prjFilaEnc/itemFilaEnc.h
Agosto/26_08_2025-AULA05/prjFilaEnc/itemFilaEnc.h.save
Agosto/26_08_2025-AULA05/prjFilaEnc/main.c
Agosto/26_08_2025-AULA05/prjFilaEnc/main.c.save
Agosto/26_08_2025-AULA05/prjFilaEnc/prjFilaEnc.cbp
Agosto/26_08_2025-AULA05/prjFilaEnc/prjFilaEnc.cbp.save
Agosto/26_08_2025-AULA05/prjFilaEnc/prjFilaEnc.layout
Agosto/Resoluções de Exercícios sobre Estrutura de Dados/01_ExercíciossobreListasEncadeadas(ParcialmenteResolvidos).pdf
Agosto/Resoluções de Exercícios sobre Estrutura de Dados/02_ExercíciossobrePilhasEncadeadas(ParcialmenteResolvidos).pdf
Agosto/Resoluções de Exercícios sobre Estrutura de Dados/Deque_Encadeada.zip
Agosto/Resoluções de Exercícios sobre Estrutura de Dados/Exercícios para Entrega 1 - Estruturas Dinâmicas Encadeadas.md
Agosto/Resoluções de Exercícios sobre Estrutura de Dados/ExercíciosparaEntrega1-EstruturaEncadeadas(20252).pdf
Agosto/Resoluções de Exercícios sobre Estrutura de Dados/itemDequeEnc.h
Set/08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos.rar
Set/08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/bin/Debug/Exercicio01.exe
Set/08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/Exercicio01.cbp
Set/08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/Exercicio01.cbp.save
Set/08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/Exercicio01.depend
Set/08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/Exercicio01.layout
Set/08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/Exercicio01.layout.save
Set/08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/jogos.c
Set/08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/jogos.c.save
Set/08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/jogos.h
Set/08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/obj/Debug/jogos.o
Set/08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/obj/Debug/usa_jogos.o
Set/08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/obj/Debug/usaJogos.o
Set/08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/usa_jogos.c.save
Set/08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/usaJogos.c
Set/08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/usaJogos.c.save
Set/08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/bin/Debug/Exercicio02.exe
Set/08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/cursos.c
Set/08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/cursos.c.save
Set/08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/cursos.h
Set/08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/data.c
Set/08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/data.h
Set/08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/Data.h.save
Set/08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/Exercicio02.cbp
Set/08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/Exercicio02.cbp.save
Set/08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/Exercicio02.depend
Set/08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/Exercicio02.layout
Set/08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/Exercicio02.layout.save
Set/08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/obj/Debug/cursos.o
Set/08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/obj/Debug/Data.o
Set/08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/obj/Debug/usa_cursos.o
Set/08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/obj/Debug/usaCursos.o
Set/08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/usa_cursos.c.save
Set/08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/usa_cursos.o
Set/08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/usaCursos.c
Set/08_09_2025-AULA08/Exercícios para Entrega 1 - Estrutura Encadeadas (2025 2).pdf
01_Exercícios sobre Listas Encadeadas (Parcialmente Resolvidos).pdf
02_Exercícios sobre Pilhas Encadeadas (Parcialmente Resolvidos).pdf
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/bin/Debug/Exercicio01.exe
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/Exercicio01.cbp
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/Exercicio01.cbp.save
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/Exercicio01.depend
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/Exercicio01.layout
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/Exercicio01.layout.save
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/jogos.c
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/jogos.c.save
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/jogos.h
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/obj/Debug/jogos.o
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/obj/Debug/usa_jogos.o
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/obj/Debug/usaJogos.o
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/usa_jogos.c.save
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/usaJogos.c
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio01/Exercicio01/usaJogos.c.save
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/bin/Debug/Exercicio02.exe
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/cursos.c
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/cursos.c.save
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/cursos.h
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/Data.c
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/Data.h
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/Data.h.save
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/Exercicio02.cbp
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/Exercicio02.cbp.save
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/Exercicio02.depend
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/Exercicio02.layout
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/Exercicio02.layout.save
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/obj/Debug/cursos.o
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/obj/Debug/Data.o
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/obj/Debug/usa_cursos.o
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/usa_cursos.c
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/usa_cursos.c.save
08_09_2025-AULA08/Avaliação Parcial 01 - Matheus C P Santos/Exercicio02/Exercicio02/usa_cursos.o
12_08_2025-AULA01/PrjListaExemplo/ItemListaEnc.c
12_08_2025-AULA01/PrjListaExemplo/ItemListaEnc.c.save
12_08_2025-AULA01/PrjListaExemplo/main.c
12_08_2025-AULA01/PrjListaExemplo/main.c.save
12_08_2025-AULA01/PrjListaExemplo/PrjListaExemplo.cbp
12_08_2025-AULA01/PrjListaExemplo/PrjListaExemplo.cbp.save
12_08_2025-AULA01/PrjListaExemplo/PrjListaExemplo.layout
12_08_2025-AULA01/PrjRevisao/main.c
12_08_2025-AULA01/PrjRevisao/main.c.save
12_08_2025-AULA01/PrjRevisao/PrjRevisao.cbp
12_08_2025-AULA01/PrjRevisao/PrjRevisao.layout
19_08_2025-AULA03/Código Corrigido/bin/Debug/prjPilhaEnc.exe
19_08_2025-AULA03/Código Corrigido/itemPilhaEnc.c
19_08_2025-AULA03/Código Corrigido/itemPilhaEnc.h
19_08_2025-AULA03/Código Corrigido/main.c
19_08_2025-AULA03/Código Corrigido/obj/Debug/itemPilhaEnc.o
19_08_2025-AULA03/Código Corrigido/obj/Debug/main.o
19_08_2025-AULA03/Código Corrigido/prjPilhaEnc.cbp
19_08_2025-AULA03/Código Corrigido/prjPilhaEnc.depend
19_08_2025-AULA03/Código Corrigido/prjPilhaEnc.layout
19_08_2025-AULA03/prjPilhaEnc/itemPilhaEnc.c
19_08_2025-AULA03/prjPilhaEnc/itemPilhaEnc.c.save
19_08_2025-AULA03/prjPilhaEnc/itemPilhaEnc.h
19_08_2025-AULA03/prjPilhaEnc/itemPilhaEnc.h.save
19_08_2025-AULA03/prjPilhaEnc/main.c
19_08_2025-AULA03/prjPilhaEnc/main.c.save
19_08_2025-AULA03/prjPilhaEnc/obj/Debug/main.o
19_08_2025-AULA03/prjPilhaEnc/prjPilhaEnc.cbp
19_08_2025-AULA03/prjPilhaEnc/prjPilhaEnc.cbp.save
19_08_2025-AULA03/prjPilhaEnc/prjPilhaEnc.depend
19_08_2025-AULA03/prjPilhaEnc/prjPilhaEnc.layout
25_08_2025-AULA04/QuestionarioTreinamento-Questao01.txt
25_08_2025-AULA04/QuestionarioTreinamento-Questao02.rar
25_08_2025-AULA04/QuestionarioTreinamento-Questao02/Exercicio3/Ex03.c
25_08_2025-AULA04/QuestionarioTreinamento-Questao02/prjExercicio2/bin/Debug/prjExercicio2.exe
25_08_2025-AULA04/QuestionarioTreinamento-Questao02/prjExercicio2/main.c
25_08_2025-AULA04/QuestionarioTreinamento-Questao02/prjExercicio2/main.c.save
25_08_2025-AULA04/QuestionarioTreinamento-Questao02/prjExercicio2/obj/Debug/main.o
25_08_2025-AULA04/QuestionarioTreinamento-Questao02/prjExercicio2/obj/Debug/prjQuestao02.o
25_08_2025-AULA04/QuestionarioTreinamento-Questao02/prjExercicio2/prjExercicio2.cbp
25_08_2025-AULA04/QuestionarioTreinamento-Questao02/prjExercicio2/prjExercicio2.cbp.save
25_08_2025-AULA04/QuestionarioTreinamento-Questao02/prjExercicio2/prjExercicio2.depend
25_08_2025-AULA04/QuestionarioTreinamento-Questao02/prjExercicio2/prjExercicio2.layout
25_08_2025-AULA04/QuestionarioTreinamento-Questao02/prjExercicio2/prjQuestao02.c
25_08_2025-AULA04/QuestionarioTreinamento-Questao02/prjExercicio2/prjQuestao02.c.save
25_08_2025-AULA04/QuestionarioTreinamento-Questao02/prjExercicio2/prjQuestao02.h
25_08_2025-AULA04/QuestionarioTreinamento-Questao02/prjExercicio2/prjQuestao02.h.save
26_08_2025-AULA05/prjFilaEnc/itemFilaEnc.c
26_08_2025-AULA05/prjFilaEnc/itemFilaEnc.c.save
26_08_2025-AULA05/prjFilaEnc/itemFilaEnc.h
26_08_2025-AULA05/prjFilaEnc/itemFilaEnc.h.save
26_08_2025-AULA05/prjFilaEnc/main.c
26_08_2025-AULA05/prjFilaEnc/main.c.save
26_08_2025-AULA05/prjFilaEnc/prjFilaEnc.cbp
26_08_2025-AULA05/prjFilaEnc/prjFilaEnc.cbp.save
26_08_2025-AULA05/prjFilaEnc/prjFilaEnc.layout
Set/16_09_2025-PROVA/Exercícios/Listas Duplamente Encadeadas/Ex02.rar
Set/16_09_2025-PROVA/Aulas/LISTA DUPLAMENTE ENCADEADA/main.c.save
08_09_2025-AULA08/Avaliação 01 - Matheus C P Santos/Exercicio01/prjAvaliacao01/prjAvaliacao01.layout
08_09_2025-AULA08/Avaliação 01 - Matheus C P Santos/Exercicio01/prjAvaliacao01/prjAvaliacao01.depend
08_09_2025-AULA08/Avaliação 01 - Matheus C P Santos/Exercicio01/prjAvaliacao01/prjAvaliacao01.cbp.save
08_09_2025-AULA08/Avaliação 01 - Matheus C P Santos/Exercicio01/prjAvaliacao01/prjAvaliacao01.cbp
08_09_2025-AULA08/Avaliação 01 - Matheus C P Santos/Exercicio01/prjAvaliacao01/prjAvaliacao.h.save
08_09_2025-AULA08/Avaliação 01 - Matheus C P Santos/Exercicio01/prjAvaliacao01/prjAvaliacao.h
08_09_2025-AULA08/Avaliação 01 - Matheus C P Santos/Exercicio01/prjAvaliacao01/prjAvaliacao.c.save
08_09_2025-AULA08/Avaliação 01 - Matheus C P Santos/Exercicio01/prjAvaliacao01/prjAvaliacao.c
08_09_2025-AULA08/Avaliação 01 - Matheus C P Santos/Exercicio01/prjAvaliacao01/obj/Debug/prjAvaliacao.o
08_09_2025-AULA08/Avaliação 01 - Matheus C P Santos/Exercicio01/prjAvaliacao01/obj/Debug/main.o
08_09_2025-AULA08/Avaliação 01 - Matheus C P Santos/Exercicio01/prjAvaliacao01/main.c.save
08_09_2025-AULA08/Avaliação 01 - Matheus C P Santos/Exercicio01/prjAvaliacao01/main.c
08_09_2025-AULA08/Avaliação 01 - Matheus C P Santos/Exercicio01/prjAvaliacao01/bin/Debug/prjAvaliacao01.exe
08_09_2025-AULA08/Avaliação 01 - Matheus C P Santos.rar
